@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
  background-color: #D9EDBF;
}


.text-gradient {
    background-image: linear-gradient(to bottom, #ffffff, #2C7865); /* Define your gradient colors */
    background-clip: text; /* Apply background to text */
    -webkit-background-clip: text; /* For Webkit browsers */
    color: transparent; /* Hide original text color */
  }

  .text-gradient2 {
    background-image: linear-gradient(to top, #ffffff, #2C7865); /* Define your gradient colors */
    background-clip: text; /* Apply background to text */
    -webkit-background-clip: text; /* For Webkit browsers */
    color: transparent; /* Hide original text color */
  }

